:root {
    --accent-color: #2F8B9F;
    --control-transition: 0.5s;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.material-icons {
    user-select: none;
}

#app h6 {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
}

#app p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
}

#map {
    position: absolute;
    right: 0;
    z-index: 0;
    height: 100%;
    width: calc(100% - 400px);
    transition: width var(--control-transition);
}

@media screen and (max-width: 1000px) {
    #map {
        width: 100%;
    }
}

.leaflet-popup-content {
    overflow-y: scroll;
    max-height: 50vh;
    padding-right: 15px;
}

#control {
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    overflow-y: auto;
    height: 100%;
    width: 400px;
    padding: 30px 15px;
    padding-bottom: 0px;
    color: #222;
    background-color: #fff;
    transform: translateX(0);
    box-shadow: 0 0 10px 1px hsla(210deg, 83%, 17%, 20%);
    transition: width var(--control-transition), transform var(--control-transition);
}

@media screen and (max-width: 1000px) {
    #control {
        transform: translateX(-100%);
        width: min(400px, calc(100% - 50px));
    }
    .control-opened #control {
        transform: translateX(0);
    }
}

#control section {
    margin-bottom: 30px;
}

#control h1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 200%;
    font-weight: 900;
}

#control .subtext {
    color: #aaa;
    font-size: 80%;
    font-weight: 500;
}

#gpkg-selector-container {
    box-sizing: border-box;
    border: #ddd 3px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}

#gpkg-selector {
    display: inline-block;
    padding: 10px;
}

.gpkg-loading #gpkg-selector {
    width: 0;
    padding: 0;
}

#gpkg-selector-loading-text {
    display: none;
    padding: 10px;
    color: #aaa;
}

.gpkg-loading #gpkg-selector-loading-text {
    display: inline-block;
}

#control-toggler {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px;
    font-size: 200%;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0 0 0 / 20%);
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#fader {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity var(--control-transition);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .control-opened #fader {
        pointer-events: auto;
        opacity: 1;
    }
}
