html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    z-index: 0;
    height: 100%;
}

#control {
    box-sizing: border-box;
    position: absolute;
    width: min(calc(100vw - 20px), 400px);
    background-color: #fff;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px 1px hsla(210deg, 83%, 17%, 50%);
    border-radius: 20px 20px 0 0;
    color: #222;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: 900;
    font-size: 15px;
}

input {
    font-size: 30px;
    box-sizing: border-box;
    padding: 10px;
    border: #ddd 3px solid;
    border-radius: 5px;
}
